<div class="card">
  <p-dataView #dv [value]="products" [paginator]="true" [rows]="12" filterBy="name" layout="grid">
      <ng-template pTemplate="header" style="padding: 0.5rem;">
          <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
              <span class="p-input-icon-left p-mb-2 p-mb-md-0" style="width: 25%;">
                  <i class="pi pi-search"></i>
                  <input type="search" style="width: 100%;" pInputText placeholder="Search by Name" (input)="dv.filter($event.target.value)">
              </span>
              <p-button icon="pi pi-plus" label="Add new"></p-button>
          </div>
      </ng-template>
      <ng-template let-product pTemplate="gridItem">
          <div class="p-col-12 p-md-6 p-lg-4 p-xl-3">
              <div class="product-grid-item card">
                  <div class="product-grid-item-top">
                      <div>
                          <i class="pi pi-tag product-category-icon"></i>
                          <span class="product-category">{{product.category}}</span>
                      </div>
                      <span [class]="'product-badge status-' + product.version.toLowerCase()">{{product.version}}</span>
                  </div>
                  <div class="product-grid-item-content">
                    <img [src]="'assets/img/hypervisor/' + product.url" [alt]="product.name"/>
                    <div class="product-name">{{product.name}}</div>
                  </div>
                  <div class="product-grid-item-bottom" style="justify-content: end;">
                      <p-button icon="pi pi-pencil"></p-button>
                  </div>
              </div>
          </div>
      </ng-template>
  </p-dataView>