<div class="sidebar d-flex flex-column align-items-center">
    <!-- <button pButton pRipple type="button" label="Blueprint items" routerLinkActive="active" (click)="goToBlueprint()" class="p-button-outlined p-button-primary text-left"></button> -->
    <!-- <button pButton pRipple type="button" label="Widgets" routerLinkActive="active" (click)="goToWidgets()" class="p-button-outlined p-button-primary text-left"></button> -->
    <p-panelMenu [transitionOptions]="'0ms'" [model]="items" multiple=false [style]="{'width':'300px', 'margin':'1rem 0'}"></p-panelMenu>
    <p-menu [model]="items" [style]="{'width':'300px', 'margin':'1rem 0'}"></p-menu>
    <p-slideMenu [model]="items" clas [viewportHeight]=300 [style]="{'width':'auto', 'margin':'1rem 0'}"></p-slideMenu>
</div>