.sidebar {
    height: 100%;
    color: white;
    background-color: #f8f9fa;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin-bottom: 2rem;
    padding-top: 1rem;
}

button {
    width: 70%;
    margin: .5rem 0;
    color: white;
}

.wrapper {
    color: red;
}


